@model ProfileApp.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2>Регистрация</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

<div>
    <h4>Регистрация пользователя</h4>
    <hr />
    <div class="form-group row">
            @Html.LabelFor(model=>model.Name,"Input your name")
            @Html.EditorFor(model=>model.Name)
            @Html.ValidationMessageFor(model=>model.Name)
    </div>

    <div>
        Фамилия
        <div>
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>
    </div>

    <div>
        Логин
        <div>
            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </div>
    </div>

    <div>
        Электронный адрес
        <div>
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    <div>
        Адрес
        <div>
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>
    </div>

    <div>
        Пароль
        <div>
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
    </div>

    <div>
        Подтвердить пароль
        <div>
            @Html.PasswordFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
    </div>

    <form>
        <div class="form-group">
            <label for="Photo">Example file input</label>
            <input type="file" class="form-control-file" id="Photo">
        </div>
    </form>

    <div>
        <div>
            <input type="submit" value="Зарегистрировать" />
        </div>
    </div>
</div>
}